body{
   background-image: url(./br2.avif);
   font-family: "Open Sans";
   color: #fff;
   word-spacing: 2px;
}
.container{
    max-width: 280px;
     position: relative;
     padding: 10px;
     margin: auto;
     border-radius: 10px;
     background-image: url(./br2.avif);
}

/* background */
.bg1{
    background-color: #38bb66;
}
.bg2{
    background-color:#7f5744;
}
.bg3{
    background-image:  url(./br2.avif);
}
/* box-shadow */
.shadow1{
    box-shadow: 2px 2px 4px black, 2px 2px 4px black;

}
.heading{
    text-align: center;
}
.btn-con{
    margin-top: -25px;
    text-align: center;
}
.btn-con button{
    padding: 10px 35px;
    /* border: none; */
    border-radius: 25px;
    color: white;
    font-size: 25px;
}
form{
    max-width: 300px;
    margin: auto;
}
.descr-con{
    margin-top: -20px;
    text-align: center;
}
.description{
    padding: 20px;
}
.w-line-height{
    line-height: 30px;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}

.w-input{
    padding: 7px;
    /* border-top: none;
    border-left: none;
    border-right: none; */
    /* border-bottom: 1px solid grey; */
    /* background: none; */
}
.w-input-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 20px;
}
.btn{
    padding: 6px 30px 6px 30px;
    box-shadow: none;
    border: none;
    border-radius: 7px;
    font-size: 16px;
}
.btn-primary {
    background-color: #007bff;
    color: white;
}
.btn-wood {
    background-image: url(./br2.avif);
    color: white;
    box-shadow: 2px 2px 2px black, 2px 2px 2px black;
    border: 2px solid #b4855b;
}
.btn-danger {
    background-color: crimson;
    color: white;
}
.w-input:focus{
    outline: none;
    border: 3px solid black;
}
.hidden{
    display: none;
}
.w-btn-center{
    text-align: center;
}
.w-p-font{
    font-size: 13px;
  
}
a{
    text-decoration: none;
    font-weight: 700;
    color: #007bff;
    /* color: blue; */
}

fieldset{
    margin-top: 40px;
    border-radius: 10px;
}
legend{
    font-size: 26px;
    font-weight: 500;
}
input{
    border-radius: 5px;
}
@media screen and (min-width:799px){
    .container{
        max-width: 500px;
    } 
    form{
        max-width: 500px;
    }
}
