body {
    background-image: url(./br2.avif);
    
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.align {
    align-items: center;
    justify-content: center;
}

.ttt-box {
    width: 100px;
    height: 100px;
    border: 3px solid rgb(233, 225, 225);
}

.space-around {
    justify-content: space-between;
}

#ttt-box-1,
#ttt-box-2,
#ttt-box-3 {
    border-top: none;
}

#ttt-box-3,
#ttt-box-6,
#ttt-box-9 {
    border-right: none;
}

#ttt-box-1,
#ttt-box-4,
#ttt-box-7 {
    border-left: none;
}

#ttt-box-7,
#ttt-box-8,
#ttt-box-9 {
    border-bottom: none;
}

/* paddings */
.p-1 {
    padding: 20px
}

.p-2 {
    padding: 7px
}

.p-3 {
    padding: 20px
}

.p-4 {
    padding: 20px
}

.p-5 {
    padding: 20px
}

/* margins */
.m-1 {
    margin: 20px
}

.m-2 {
    margin: 7px
}

.m-3 {
    margin: 20px
}

.m-4 {
    margin: 20px
}

.m-5 {
    margin: 20px
}

/* game svg */
.ttt-svg-container {
    width: 100px;
    height: 100px;
    resize: both;
}

.ttt-box svg {
    width: 100%;
    height: 100%;
}

/* x and y */
.x-y-box {
    width: 100px;
    height: 100px;
}

.ttt-x {
    font-size: 80px;
    color: #2a0709;
}

.ttt-o {
    font-size: 60px;
    color: #e7d3c3;
}

/* width */
.width-1 {
    width: 300px;
}

.width-2 {
    width: 100px;
}

/* positions */
.position-rel {
    position: relative;
}

.position-abs {
    position: absolute;
}

/* tic-tac-toe strokes */
.stroke {
    width: 300px;
    border-bottom: 5px solid red;
    border-radius: 50px;
}

.stroke1 {
    top: 65px;
}

.stroke2 {
    top: 175px;
}

.stroke3 {
    top: 280px;
}

.stroke4 {
    transform: rotate(90deg);
    top: 175px;
    right: 1.6rem;
}

.stroke5 {
    transform: rotate(90deg);
    top: 175px;
    right: 132px;

}

.stroke6 {
    transform: rotate(90deg);
    top: 175px;
    left: 132px;

}

.stroke7 {
    width: calc(300px * 1.414);
    transform: rotate(45deg);
    transform-origin: top left;
}

.stroke8 {
    width: calc(300px * 1.414);
    transform: rotate(-45deg);
    transform-origin: bottom right;
    right: 20px;
}
.white{
    color: white;
}
/* hidden */
.hidden {
    display: none;
}

.game {
    border: 2px solid rgb(203, 194, 194);
    border-radius: 10px;
    /* background-color: #7f5744; */
    background-image: url(./br2.avif);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-6 {
    width: 100%;
    flex: 0 0 auto;
}
/* margins */
.mt4{
    margin-top: 4rem;
}
.shadow1{
    box-shadow: 2px 2px 4px black, 2px 2px 4px black;

}
.history{
    border: 2px solid rgb(203, 194, 194);
    background-image: url(./br2.avif);
    border-radius: 7px;
}
.btn-wood{
    background-image: url(./br2.avif);
    color: white;
    box-shadow: 2px 2px 2px black, 2px 2px 2px black;
    border: 2px solid #b4855b;
    padding: 6px 20px;
    margin-top: 10px;
    font-size: 16px;
}
/* media queries */
@media screen and (min-width:768px) {
    .col-md-6 {
        width: 50%;
        flex: 0 0 auto;
    }
    .history{
        border: 2px solid rgb(203, 194, 194);
        border-radius: 7px;
        width: 300px;
        height: 300px;
    }
}
