body {}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.align {
    align-items: center;
    justify-content: center;
}

.ttt-box {
    width: 100px;
    height: 100px;
    border: 3px solid #000000;
}

.space-around {
    justify-content: space-between;
}

#ttt-box-1,
#ttt-box-2,
#ttt-box-3 {
    border-top: none;
}

#ttt-box-3,
#ttt-box-6,
#ttt-box-9 {
    border-right: none;
}

#ttt-box-1,
#ttt-box-4,
#ttt-box-7 {
    border-left: none;
}

#ttt-box-7,
#ttt-box-8,
#ttt-box-9 {
    border-bottom: none;
}

/* paddings */
.p-1 {
    padding: 20px
}

.p-2 {
    padding: 7px
}

.p-3 {
    padding: 20px
}

.p-4 {
    padding: 20px
}

.p-5 {
    padding: 20px
}

/* game svg */
.ttt-svg-container {
    width: 100px;
    height: 100px;
    resize: both;
}

.ttt-box svg {
    width: 100%;
    height: 100%;
}

/* x and y */
.x-y-box {
    width: 100px;
    height: 100px;
}

.ttt-x {
    font-size: 80px;
    color: rgb(20, 20, 197);
}

.ttt-y {
    font-size: 60px;
    color: red;
}

/* width */
.width-1 {
    width: 300px;
}

.width-2 {
    width: 100px;
}

/* positions */
.position-rel {
    position: relative;
}

.position-abs {
    position: absolute;
}

/* tic-tac-toe strokes */
.stroke {
    width: 300px;
    border: 5px solid red;
    border-radius: 50px;
}

.stroke1 {
    top: 65px;
}

.stroke2 {
    top: 170px;
}

.stroke3 {
    top: 275px;
}

.stroke4 {
    transform: rotate(90deg);
    top: 175px;
}

.stroke5 {
    transform: rotate(90deg);
    top: 175px;
    right: 125px;

}

.stroke6 {
    transform: rotate(90deg);
    top: 175px;
    left: 125px;

}

.stroke7 {
    width: 360px;
    transform: rotateZ(45deg);
    right: 170px;
    top: 50px;
}

/* hidden */
.hidden {
    /* visibility: hidden; */
}
.game{
    border: 4px solid;
}

/* media queries */
@media screen and (min-width:768px) {
    .ttt-box {
        width: 200px;
        height: 200px;
    }

    .ttt-box-div {
        width: 200px;
        height: 200px;
    }

    /* width */
    .width-1 {
        width: 600px;
    }

    .width-2 {
        width: 200px;
    }

    .p-top {
        padding-top: 20px;
    }
    .stroke{
        width: 600px;
    }
    .stroke1{
        top: 115px;
    }
    .stroke2{
        top: 320px;
    }
    .stroke3{
        top: 525px;
    }
    .stroke4{
       top: 320px;
    }
    .stroke5{
        top: 320px;
        right: 225px;
    }
    .stroke6{
        top: 320px;
        left: 225px;
    }
    /* x and y */
.x-y-box {
    width: 200px;
    height: 200px;
}
.ttt-x {
    font-size: 130px;
    color: rgb(20, 20, 197);
}

.ttt-y {
    font-size: 100px;
    color: red;
}
}


@media screen and (min-width:1420px) {}